Package: dawood.cydia
Name: Affan
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Dawood Affan
Author: Dawood Affan
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
